---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ProblemSolution from '../components/ProblemSolution.astro';
import Services from '../components/Services.astro';
import TrustSignals from '../components/TrustSignals.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Gooseberry Consulting | Cybersecurity Challenge Development">
	<Navbar />
	<main>
		<Hero />
		<ProblemSolution />
		<Services />
		<TrustSignals />
		<Contact />
	</main>
	<Footer />
</Layout>
